@import '@/assets/scss/_main';

.content-pages{
    background-color: #4e4e4e;

    .title-pages{
        color: #3EB489;
        text-shadow: 3px 5px 15px #3EB489;
    }
    .cards-content{
        width: 100%;
        flex-direction: row;
        display: flex;
        align-items: center;
        justify-content:space-between;
        margin:auto;

        .card{
            height: 100%;
            width: 100%;
            justify-content: space-evenly;
            height: 100%;
            box-shadow:3px 5px 10px #3EB489;
        }
    }

    .content-lists{
        flex-direction: row;
        display: flex;
        justify-content: center;
        width: 100%;

        .list{
            width: 100%;
            height: 100%;
            justify-content: center;

        }
    }
}